<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tamagotchi minion</title>
  <link rel="stylesheet" href="/public/style.css">
</head>
<body>
<div class="game-over">
  <h2>Game over</h2>
  <div>
    <img src="/public/game-over.jpg" alt="game-over">
  </div>
  <form action="/" method="get">
    <button type="submit">
      <span></span>
      <span></span>
      <span></span>
      <span></span>
      Play again
    </button>
  </form>
</div>
</body>
</html>