<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tamagotchi minion</title>
  <link rel="stylesheet" href="/public/style.css">
</head>
<body>
<header>
<!--  <span><%#= name %></span>-->
  <span>#{pet.attention_phrase}</span>
</header>
<main>
  <section>
    <ul>
      <li>Life: <strong><%= get('life')  %></strong></li>
      <li>Age: <strong><%= get('age')  %></strong></li>
      <li>Mood: <strong><%= get('mood')*5  %>%</strong></li>
      <li>Hunger: <strong><%= get('hunger') *10 %>%</strong></li>
<!--      <li>Sleep: <strong>#{pet.sleep * 5}%</strong></li>-->
<!--      <li>WC: <strong>#{pet.wc * 10}%</strong></li>-->
<!--      <li>Study: <strong>#{pet.study}</strong></li>-->
    </ul>
  </section>

  <article>
    <div>
      <p>#{pet.phrase}</p>
    </div>
    <div>
      <p>#{pet.minion_phrase}</p>
    </div>
  </article>
  <aside>
    <p>#{pet.emoji}</p>
  </aside>
</main>
<footer>
  <form action="/change" method="get">
    <button type="submit" class="btn btn-outline-info" name="feed" value="feed">Feed</button>
  </form>
</footer>
</body>
</html>