<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tamagotchi minion</title>
  <link rel="stylesheet" href="/public/style.css">
</head>
<body>
<div class="wrapper">

  <div class="login-box">
    <h2>Welcome!</h2>
    <form class="form-inline" action="/welcome" method="get">
      <div class="user-box">
        <input type="text" name="pet_name" required="">
        <label>Enter pet name</label>
      </div>
<!--      <div class="user-box">-->
<!--        <input type="password" name="" required="">-->
<!--        <label>Password</label>-->
<!--      </div>-->
      <button type="submit">
        <span></span>
        <span></span>
        <span></span>
        <span></span>
        Start
      </button>
    </form>
  </div>
</div>
</body>
</html>