<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>Tamagotchi minion</title>
  <link rel="stylesheet" href="/public/style.css">
</head>
<body>
<form class="form-inline" action="/welcome" method="get">
  <label for="name">Enter name for your pet: </label>

  <div class="form-group mx-sm-3">
    <label for="name" class="sr-only">Name</label>
    <input type="text" name="name" class="form-control" id="" placeholder="Name">
  </div>

  <button type="submit" class="btn btn-primary" value="Start">Start</button>
</form>
</body>
</html>